body{
  
margin:0px;
padding:opx;
}

ul{
list-style:none;
}

a{
text-decoration:none;
}

section{
width:100%;
height:95vh;
background-color: rgb(202, 223, 224);
background-repeat: no-repeat;
background-size: cover;
position: relative;
}


.logo-header i , .logo-header p {
    color: #ffffff;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    flex-wrap: wrap;
}






nav{
display: flex;
justify-content: space-between;
align-items: center;
height: 60px;
background-color: rgba(0, 0, 0, 0.822);
box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
padding: 0px 5%;
}

nav ul{
display: flex;    
justify-content: flex-end;
}

nav ul li a{
margin: 30px;
font-family: myriad pro regular;
color: #6b6a6a;
font-size: 14px;
font-weight:700;
align-items: right;
}

nav a:hover{
color: rgb(189, 185, 185);
}

 .nav-link.active{
    color: rgb(255, 255, 255);
}


.logo{
color: #000000;
height: 50px;
width: 50px;
margin-right: -850px;

}

.h1{
text-align: left;
margin-right: 500px;    
}


.active{
font-weight: bold;
color: #2d2a2a;
}


.text-container p:nth-child(1){
font-family: calibri;
font-weight: bold;
letter-spacing: 1px;
color: #1a1a1a;
font-size: 60px;    
}

.text-container p:nth-child(2){
font-family: myriad pro regular;
color: #403e3e;
font-size: 50px;
line-height: 30px;
}

.text-container p{
line-height: 0px;
margin:45px 0px 25px;
}

.text-container{
position: absolute;
left:13%;
top:42%;
transform:translate(-13%, -42%);    
}

.text-container button{
width: 130px;
height: 42px;
border-radius: 10px;
font-family: calibri;
font-weight: bold;
font-size: 14px;
outline: none;
margin: 0px 10px;    
}

.hire-btn{
border: 2px solid #373636;
color: #373636;    
}

.down-cv{
background-color: #0b0b0b;
color:#FFFFFF;
border:none;    
}

button:active{
transform:scale(1.1);    
}

.profile{
width: 500px;
height: 500px;
position: absolute;
bottom: 200px;
left: 90%;
border-radius: 800px;
transform: translateX( -100%);    
}

.about-container{
width: 90%;
height: 200px;
background-color: #FFFFFF;
border-radius:5px;
box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
display: flex;
margin: -7% auto 20px auto;  
position: relative;  
}

.about-text{
text-align: center;
font-size: 25px;    
}

.footer{
bottom: 0;
position: fixed;
text-align: center;
background-color: #000000;
color:rgb(243, 232, 232);
font-size: 25px;
height: 35px;
width: 100%;}

.works{
width: 300px;
height: 300px;    
}

.works-container{
background-color: rgb(19, 16, 16); 
}

.titleworks{
text-align: center;
color: #FFFFFF;
font-size: 40px;
margin-top: 5px;
}



.works-text{
font-size: 30px;    
text-align: center;
}

figure { 
background-color: rgb(211, 197, 197) ;
display: inline-block;
width: 30%;
text-align: center;
font-style: italic;
font-size: 20px;
text-indent: 0;
border-radius: 10px;
border: thin gray;
margin: 0.7em;
padding: 0.75em;
}

.sobre{
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.555),rgba(34, 31, 31, 0.5)100%);
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;

}

.sobre img{
    height: 350px;
    width: 350px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 300px;
    float: left;
}

.sobre-texto{
    font-weight: bold;
    text-align: justify;
    padding: 40px;
    padding-left: 120px;
    padding-right: 250px;
    font-size: 36px;
    margin-right: 20px;
    color: #fff;
}

 #tecnologias{
     font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-right: 20px;
    color: #fff;
}

