html {
    scroll-behavior: smooth;
  }

body {
    margin: 0px;
    font-family: 'Fira Sas', Arial, sans-serif;
    color: #141414;
}

.container {
    align-items: center;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}


img {
    display: block;
}

.titulo-section {
    text-transform: uppercase;
}

.titulo-section::after {
    content: "";
    display: block;
    width: 250px;
    height: 3px;
    background: linear-gradient(#b6f829, #67dd0a);
    position: absolute;
    gap: 10px 20px;
}

.subtitulo {
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    min-width: 4ch;
}
