.navbar{
    background-color: rgba(8, 12, 14, 0.692);
}

body{
    background-color: rgba(250, 250, 250, 0.836);
}

#woman-logo{
    height: 50px;
    width: 50px;
}

h3{
    color: #fff;
    margin-right: 5px;
}

#titulo{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
}

input#pesquisa{
    border-radius: 5px;
}


.navbar-nav{
    position: absolute;
    left: 50%;

    transform: translatex(-50%);

    transform: translatex(-50%); 
}

i{
    color: rgb(255, 255, 255);;
}

.footer{
    display: block;
    bottom: 0;
    position: fixed;
    text-align: center;
    background-color: rgba(4, 6, 7, 0.842);
    color:rgb(243, 232, 232);
    font-size: 25px;
    height: 35px;
    width: 100%;
}

input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

  /* .nav-link > i:hover{
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);



  } */